<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AdvancedScada.Studio.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <userSettings>
    <AdvancedScada.Studio.Properties.Settings>
      <setting name="teServer" serializeAs="String">
        <value>USER-PC\SQLEXPRESS</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>8090</value>
      </setting>
      <setting name="IPAddress" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="CheckEnabele" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DatabaseTypes" serializeAs="String">
        <value>SQL</value>
      </setting>
      <setting name="SimulationType" serializeAs="String">
        <value>Ethernet</value>
      </setting>
      <setting name="Simulation" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GetPortNames" serializeAs="String">
        <value>COM1</value>
      </setting>
      <setting name="BaudRate" serializeAs="String">
        <value>9600</value>
      </setting>
      <setting name="ApplicationSkinName" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="TypeLibrary" serializeAs="String">
        <value />
      </setting>
      <setting name="TypeForms" serializeAs="String">
        <value />
      </setting>
    </AdvancedScada.Studio.Properties.Settings>
  </userSettings>
</configuration>