<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AdvancedScada.HMI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <AdvancedScada.HMI.Properties.Settings>
            <setting name="ReportViewer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>USER-PC\SQLEXPRESS</value>
            </setting>
            <setting name="DataBase" serializeAs="String">
                <value>batchs</value>
            </setting>
            <setting name="IPAddress" serializeAs="String">
                <value>183.109.197.100</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>2004</value>
            </setting>
        </AdvancedScada.HMI.Properties.Settings>
    </userSettings>
</configuration>
